{{! 
    Form.hbs // Note
    Attention a ne pas oublier le name dans votre input c'est ce que vous allez récupérer dans le req.body
 }}

{{#if flash}}
  <div id="message"></div>
  <script>
    document.getElementById('message').innerText = "{{flash}}"
    setInterval(() => {
        document.getElementById('message').innerText = ""
    }, 2500)
  </script>
{{/if}}

<div>
  <form action="/contact" method="post">
    <input type="text" name="title" placeholder="title" />
    <button type="submit">Submit</button>
  </form>
</div>