<div class="navbar bdr-b-primary justify_between txt-light">
    <a href="/">
        <h3 class="px-1">TITRE</h3>
    </a>
    <ul class="row">
        <li class="px-1">
            <a href="/contact">Contact</a>
        </li>
    </ul>
</div>