<div class="navbar bg-warning bdr-b-primary justify_between txt-light">
    <a href="/admin">
        <h3 class="px-1">ADMIN</h3>
    </a>
    <ul class="row">
        <li class="px-1">
            <a href="/">Home</a>
        </li>
        <li class="px-1">
            <a href="/contact">Contact</a>
        </li>
    </ul>
</div>